fastapi
uvicorn[standard]
boto3
firebase-admin
pydantic
python-multipart
httpx
google-genai
pytesseract
Pillow
groq
selenium
ibm-watsonx-ai
ibm-watson
ibm-cloud-sdk-core
scikit-learn
pandas
numpy
joblib
